.timeline{
    width: 50%;
    height: 30%;
    border:2px solid #000000;
    float: left;
    background-image:url("back-img");
    background-size:cover;    
    background-position: center;
    font-family:poppins;
    color:#000000;
    vertical-align: middle;
    
}
h1{
    text-align: center;
    margin-top: 3%;
}
.progress{
   margin-left:30% auto;
   margin-top:5%;
 
}
.progress img{
    width: 35%;
    margin-bottom: 10%;
}

.progress ul{
    text-align: center;
}
.progress ul li{
    display: inline-block;
    width: 15%;
    position: relative;
    margin: 1%;
}

.progress ul li .fa{
    background:#ed1943;
;
;
    width: 4%;
    height: 1%;
    color:#fff;
    border-radius:50%;
    padding:2%;
}
.progress ul li .fa::after{
    content:'';
    background:#000000;
    height:3%;
    width:120%;
    display:block;
    position:absolute;
    left:0;
    top:50%;
    z-index:1;
}

/*
.progress ul li:nth-child(3) .fa{
    background:#ed1943;
}
.progress ul li:nth-child(3) .fa::after{
    background:#000000;
}
.progress ul li:nth-child(1) .fa,
.progress ul li:nth-child(2) .fa
{
background:#ed1943;
}
.progress ul li:nth-child(1) .fa::after,
.progress ul li:nth-child(2) .fa::after
{
background:#000000;    
}
.progress ul li:first-child .fa::after{
    width: 100%;
    left:10%;
}
.progress ul li:last-child .fa::after{
    width:100%;
}
*/